<web-app>  
    <multipart-config>
        <location>/org</location>
        <max-request-size>418018841</max-request-size>
        <max-file-size>20848820</max-file-size>
        <file-size-threshold>1048576</file-size-threshold>
    </multipart-config>
  
    <servlet>  
        <servlet-name>AddProductAction</servlet-name>  
        <servlet-class>product.AddProductAction</servlet-class>  
        <multipart-config>
            <location>/org</location>
            <max-request-size>418018841</max-request-size>
            <max-file-size>20848820</max-file-size>
            <file-size-threshold>1048576</file-size-threshold>
        </multipart-config>
    </servlet>  

    <servlet>  
        <servlet-name>AddOrder</servlet-name>  
        <servlet-class>order.AddOrder</servlet-class> 
    </servlet> 
    
     <servlet-mapping>  
        <servlet-name>AddOrder</servlet-name>  
        <url-pattern>/addOrder</url-pattern>  
    </servlet-mapping>
    
    
     <servlet>  
        <servlet-name>GetProductDetails</servlet-name>  
        <servlet-class>product.GetProductDetails</servlet-class> 
    </servlet> 
    
     <servlet-mapping>  
        <servlet-name>GetProductDetails</servlet-name>  
        <url-pattern>/getProductDetails</url-pattern>  
    </servlet-mapping>
        
    
    <servlet>  
        <servlet-name>AddUser</servlet-name>  
        <servlet-class>user.AddUser</servlet-class> 
    </servlet> 
    
     <servlet-mapping>  
        <servlet-name>AddUser</servlet-name>  
        <url-pattern>/addUser</url-pattern>  
    </servlet-mapping>
    
    
    <servlet>  
        <servlet-name>AddAdmin</servlet-name>  
        <servlet-class>user.AddAdmin</servlet-class> 
    </servlet> 
    
     <servlet-mapping>  
        <servlet-name>AddAdmin</servlet-name>  
        <url-pattern>/addAdmin</url-pattern>  
    </servlet-mapping>
    
    
     <servlet>  
        <servlet-name>UpdateData</servlet-name>  
        <servlet-class>user.UpdateData</servlet-class> 
    </servlet> 
    
     <servlet-mapping>  
        <servlet-name>UpdateData</servlet-name>  
        <url-pattern>/updateData</url-pattern>  
    </servlet-mapping>
    
      <servlet>  
        <servlet-name>CheckUsername</servlet-name>  
        <servlet-class>user.CheckUsername</servlet-class> 
    </servlet> 
    
     <servlet-mapping>  
        <servlet-name>CheckUsername</servlet-name>  
        <url-pattern>/checkUsername</url-pattern>  
    </servlet-mapping>
    
    <servlet>        
        <servlet-name>DeleteOrder</servlet-name>  
        <servlet-class>order.DeleteOrder</servlet-class> 
    </servlet> 
    
     <servlet-mapping>  
        <servlet-name>DeleteOrder</servlet-name>  
        <url-pattern>/deleteOrder</url-pattern>  
    </servlet-mapping>
    
    <servlet>
    
        <servlet-name>DeleteProductAction</servlet-name>
        <servlet-class>product.DeleteProductAction</servlet-class>  

    </servlet>
    
     <servlet>
    
        <servlet-name>UpdateProductAction</servlet-name>
        <servlet-class>product.UpdateProductAction</servlet-class>  
 <multipart-config>
            <location>/org</location>
            <max-request-size>418018841</max-request-size>
            <max-file-size>20848820</max-file-size>
            <file-size-threshold>1048576</file-size-threshold>
        </multipart-config>
    </servlet>
    
    <servlet-mapping>  
        <servlet-name>DeleteProductAction</servlet-name>  
        <url-pattern>/deleteProductAction</url-pattern>  
    </servlet-mapping>
  
  <servlet-mapping>  
        <servlet-name>UpdateProductAction</servlet-name>  
        <url-pattern>/updateProductAction</url-pattern>  
    </servlet-mapping>
  
    <servlet-mapping>  
        <servlet-name>AddProductAction</servlet-name>  
        <url-pattern>/addProduct</url-pattern>  
    </servlet-mapping>  
 
</web-app>  